.footer {
    color: $color-black;
   .container{
    display: flex;
    justify-content:space-between;
    align-items: baseline;
   }
   &__author{
    color: $color-primary;
   }
   &__right{
    display: flex;
    
   }
}