.header {
  position: relative;
  background-image: url('/images/Layer\ 15.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  width: 100%;
  height: 60vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($color-primary 0%, $color-secondary 100%);
    z-index: 0;
  }

  &__content, &__top {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  
  &__top {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__logo {
    width: 70px;
    font-size: 25px;
    font-family: $font-primary;
    font-weight: 700;
    color: $color-text-white;
    text-decoration: none;
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
      list-style: none;
      font-family: $font-primary;
      font-size: 13px;
      gap: 55px;
      color: $color-text-white;
    }

    &-item {
      position: relative;
      display: inline-block; 

      &:hover::after,
      &:focus-within::after {
        width: 100%; 
      }
    
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        background-color: $color-secondary;
        transition: width 0.3s ease; 
        width: 0; 
      }
    }

    &-link {
      font-size: 12px;
      color: $color-text-white;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.3s;
    }
  }

  &__search {
    &-icon {
      fill: $color-text;
      transition: fill 0.3s;

      &:hover,
      &:focus {
        fill: $color-secondary;
      }
    }
  }
}

.header__content {
  text-align: center;
  padding: 50px 0;

  &__title{
    font-weight: normal;
    font-family: $font-secondary, cursive;
    font-size: 60px;
    color: $color-text-white;
    margin-bottom: 30px;
  }

  &__subtitle{
    font-family: $font-primary;
    font-size: 120px;
    font-weight: bold;
    line-height: 0.933;
    color: $color-text-white;
    margin-bottom: 40px;
  }

  &__button {
    background-color: transparent;
    border: 2px solid white;
    color: $color-text-white;
    margin-top: 40px;
    padding: 7px 24px;
    font-size: 14px;
    font-weight: 700;
    
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: $color-primary;
    }
  }
}
