.header {
  position: relative;
  background-image: url(../images/Layer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  width: 100%;
  min-height: 70vh;
  z-index: 1;

  @media (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
    .header__nav-list {
      gap: 30px;
    }
    .header__content{
      padding-top: 100px;
      &__title{
        font-size: 50px;
      }
      &__subtitle{
        font-size: 100px;
      }
      &__button{
        width: 140px;
        font-size: 12px;
      }
    }
   
    .header__nav__burger{
      display: none;
    }
    .mobile-menu {
      display: none;
    }
  }
  @media (min-width: $breakpoint-phone-min) and (max-width: $breakpoint-phone-max) {
    .header {
      min-height: 80vh;
      &__logo {
        font-size: 20px;
      }
      &__nav-list {
        display: none;
      }
      &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
   .header__content{
    padding-top: 100px;
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 40px;
    }
    &__button {
      width: 120px;
      font-size: 10px;
    }
   }
   
    .header__nav__burger {
      display: flex;
      background-color: transparent;
      border: none;
      fill: wheat;
      cursor: pointer;
    }
    .mobile-menu {
      padding-top: 50px;
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 50%;
      height: 80%;
      background-color: rgba(255, 255, 255, 0.171);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
      transition: right 0.3s ease;
      z-index: 9999;

      &__nav-list {
        display: flex;
        flex-direction: column; 
        padding: 0; 
        list-style-type: none; 
        gap:20px
      }

      &__nav-item {
        margin: 10px 0; 
        text-decoration: none;
      }

      &__nav-link {
        display: block; 
        text-align: center; 
        text-decoration: none; 
        font-size: 16px; 
         color: black;
         font-family: $font-primary;
         font-weight: 500;
      }
      &__close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        border: none;
        background: none;
        font-size: 24px; 
        cursor: pointer;
      }
    }
    .mobile-menu.active {
      right: 0;
    }
  }


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($color-primary 0%, $color-secondary 100%);
    z-index: 0;
  }

  &__content, &__top {
    position: relative;
    width: 100%;
  }
  
  &__top {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
  }

  &__logo {
    width: 70px;
    font-size: 25px;
    font-family: $font-primary;
    font-weight: 700;
    color: $color-text-white;
    text-decoration: none;
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
      list-style: none;
      font-family: $font-primary;
      font-size: 13px;
      gap: 55px;
      color: $color-text-white;
    }
    &__burger{
      display: none;
    }

    &-item {
      position: relative;
      display: inline-block; 

      &:hover::after,
      &:focus-within::after {
        width: 100%; 
      }
    
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        background-color: $color-secondary;
        transition: width 0.3s ease; 
        width: 0; 
      }
    }

    &-link {
      font-size: 12px;
      color: $color-text-white;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.3s;
      fill: $color-text-white;
      &:hover{
        fill: $color-secondary;
      }
    }
  }

  &__search {
    &-icon {
      fill: $color-text;
      transition: fill 0.3s;

      &:hover,
      &:focus {
        fill: $color-secondary;
      }
    }
  }
}

.header__content {
  text-align: center;
  padding: 50px 0;

  &__title{
    font-weight: normal;
    font-family: $font-secondary, cursive;
    font-size: 60px;
    color: $color-text-white;
    margin-bottom: 30px;
  }

  &__subtitle{
    font-family: $font-primary;
    font-size: 120px;
    font-weight: bold;
    line-height: 0.933;
    color: $color-text-white;
    margin-bottom: 40px;
  }

  &__button {
    background-color: transparent;
    border: 2px solid white;
    color: $color-text-white;
    margin-top: 40px;
    padding: 7px 24px;
    font-size: 14px;
    font-weight: 700;
    
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: $color-primary;
    }
  }
}

.mobile-menu {
  display: none;
}