.our_team {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        display: flex;
      justify-content: center;
      font-family: $font-secondary, cursive;
      font-weight: normal;
      font-size: 20px;
      color: $color-black;
    }
    h3{
        display: flex;
        justify-content: center;
        font-family: $font-primary;
        font-weight: bold;
        font-size: 25px;
        color: $color-black;
        margin-bottom: 20px;
    }
    p {
        font-weight: 200;
        color: $color-black;
        padding-top: 30px;
        font-family: $font-primary;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        width: 1000px;
        
    }
    
}