.services {
    background-color: $color-background;
    padding: 50px 0;
    
  
    &__grid {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: repeat(2, auto); 
    }

    h2{
      display: flex;
      justify-content: center;
      font-family: $font-secondary, cursive;
      font-weight: normal;
      font-size: 20px;
      color: $color-black;
    }
    
    p{
      display: flex;
      justify-content: center;
      font-family: $font-primary;
      font-weight: bold;
      font-size: 25px;
      color: $color-black;
      margin-bottom: 20px;
    }


    .service {
      display: flex;
      align-items:self-start;
      padding: 20px; 
      border-radius: 20px;
      transition: transform $hover-transition-duration;
  
      &:hover {
        transform: translateY(-5px);
      }
  
      &__title {
        font-size: 13px;
        color: $color-text;
        margin-bottom: 10px;
        font-family: $font-primary;
      }
  
      &__text {
        font-family: $font-primary;
        color: darken($color-text, 10%);
        font-size: 14px;
        font-weight: 300;
      }
  
      img {
        padding-right: 30px;
        height: 30px;
        margin-top: 10px; 
        width: auto; 
      }
    }
  }
  