input[type='email']
 {
  padding: 10px;
  border: 1px solid $color-grey;
  margin-bottom: 15px;
  font-family: $font-primary;
  font-style: italic;
  height: 38px;
  width: 200px;
  &::placeholder{
    color: $color-grey;
  }
  
}

button[type='submit'] {
height: 38px;
  background-color: $color-shadow;
  color: $color-background;
  width: 140px;
  transition: background-color 0.3s ease;
  font-family: $font-primary;
  font-weight: 800;
  font-size: 12px;
  border: none;

  &:hover {
    background-color: $color-secondary;
  }
}