body {
  font-family: $font-primary;
  color: $color-secondary;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-black;
}

a {
  color: $color-text-white;
  text-decoration: none;

  &:hover {
    color: $color-secondary;
  }
}

hr{
  width: 50px;
      text-align:center;
      display: block;
      height: 2px;
      border-style: none;
      margin: 0 auto;
      border-color: rgb(243, 129, 129);
      background-color: rgb(243, 129, 129);
}