// Paleta kolorów
$color-primary: rgb(243,129,129,0.9);
$color-secondary: rgb(252,227,138,0.8);
$color-background: #ffffff;
$color-text-white: #ffffff;
$color-text: #333333;
$color-black: #000000;


$font-primary: "Montserrat";
$font-secondary: "Kaushan Script";


$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;


$hover-transition-duration: 0.3s;
