// Paleta kolorów
$color-primary: #f38181e6;
$color-secondary: #fce38acc;
$color-background: #ffffff;
$color-text-white: #ffffff;
$color-text: #333333;
$color-black: #000000;
$color-shadow: #95e1d3;
$color-grey: rgb(229, 229, 229);

$font-primary: "Montserrat";
$font-secondary: "Kaushan Script";



$breakpoint-tablet-min: 768px;
$breakpoint-tablet-max: 1200px;
$breakpoint-desktop: 1200px;


$hover-transition-duration: 0.3s;
